<p id="notice"><%= notice %></p>

<h1>Listing Matches</h1>

<% @dates = Match.select("date(date)").group("date(date)").order("date ASC") %>
<% @dates.each do |m| %>
  <p><%= m.date.try(:strftime, "%d %B %Y") %></p>
  <% @match_this_day = @matches.where("date(date) = ?", m.date) %>
  <% @match_this_day.each do |match| %>
  	<div>
		<%= render match %>
  	</div>
  <% end %>
<% end %>