/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require jquery.dataTables.min
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.masthead{
    height:200px;
    background-image:url("/soccer-ball-on-the-goal-sport-web-header.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
}

h1{
	padding-top: 0px !important;
}

h1 {
    text-align: center;
    padding-top: 100px;
}

a:hover{
  color: darkblue;
}